<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>MrWindWaker</title>
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<header>
			<h2><a href="#" class="sixtC">MRWW</a></h2>
			<nav>
				<li><a href="#" class="secC">Home</a></li>
				<li><a href="#" class="secC">Proyects</a></li>
				<li><a href="#" class="secC">Blog</a></li>
				<li><a href="#" class="secC">ME</a></li>
			</nav>
		</header>
		<section class="hero">
			<div class="background-image" style="background-image: url(/img/mountains.webp);"></div>
		</section>
	</body>
</html>